*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h5,h5,h6{font-size:inherit;font-weight: inherit;}

.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h1{
    margin-top: 30px;
    font-size: 40px;
}

.input-button{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input-add{
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
}

.button-add{
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
}

.button-add:hover{
    background-color: green;
    transition: all 1s;
}

.section1 p, .section2 p, .section3 p{
    font-size: 20px;
    padding: 10px;
}

.section1, .section2, .section3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 50px;
}

.section-todo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 10px;
}

.section-name{
    white-space: nowrap;         
    overflow: hidden;           
    text-overflow: ellipsis;   
    max-width: 18vw;
    margin: 0 auto;
}

.name{
    color: orange;    
}

.checkbox{
    height: 20px;
    width: 20px;
    accent-color: black;
    cursor: pointer;
}

.checkbox:disabled {
    cursor: not-allowed;
}

.section-completed{
    display: flex;
    justify-content: center;
    align-items: center;
}

.completed {
    /* color: gray;
    filter: blur(1px);
    opacity: 0.7; */
}

.section-deleted{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(169, 26, 26);
    border-radius: 50px;
    background-color: rgb(211, 130, 130);
    width: 40%;
}

.section-postpone{
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgb(49, 15, 143);
    border-radius: 50px;
    background-color: #edd2fa;
    width: 40%;
}

.section-deleted:hover{
    background-color: red;
    transition: all 1s;
}

.tabs__block{
    display: none;
}

.tabs__block:target{
    display: block;
}

.tab-button{
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 20px;
    background-color: rgb(155, 201, 155);
}

/* Вспkывашка при удалении задачи */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.modal-content {
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
}
   
.modal-buttons button {
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
}
  
.hidden {
    display: none;
}

.button-delete-yes{
    background-color: red;
}

.button-delete-no{
    background-color: green;
}

/*  */

body.active__block{
    background-color: #FFFCF1;
}

.active-button{
    background-color: #FFE8A3;
}

body.completed__block{
    background-color: #f0fff0;
}

.completed-button{
    background-color: #d7fad7;
}

body.postpone__block{
    background-color: #FFF7F6;
}

.postpone-button{
    background-color: #FFC7C2;
}